{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sig_up.css') }}">
{% endblock %}

<!-- добавление формы для регестрации -->

{% block content %}
    <div class="wrapper">
        <span class="rotate-bg"></span>

        <div class="form-box reg">
            <h2 class="title">Sign Up</h2>
            
            <form action="" method="POST">
                   
                <div class="input-box">
                    <input type="text" class="input-text">
                    <label for="id_username">Username</label>
                    <i class='bx bxs-user'></i>
                </div>
            
                <div class="input-box">
                    <input type="email" name="" id="" class="input-text">
                    <label for="id_email">Email</label>
                    <i class='bx bxs-envelope'></i>
                </div>
            
                <div class="input-box">
                    <input type="password" class="input-text">
                    <label for="id_password">Password</label>
                    <i class='bx bx-lock'></i>
                </div>
            
                <button type="submit" class="btn-login">Sign Up</button>
            </form>
        </div>

        <div class="info-text reg">
            <h2>Join our team now!</h2>
            <p>Please enter your details.</p>
        </div>
    </div>
{% endblock %}