<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>{% block title %} {% endblock %}</title>
        {% block links %} {% endblock %}
    </head>
    <body>

    <!-- HEADER -->
        <header class="navbar">
            <div class="logo">
                <!-- <img src="{{ url_for('static', filename = 'css/images/logo.png') }}" alt="logo" class="logo"> -->
                <img alt="Qusty logo" class="logo" src="{{ url_for('static', filename='images/logo.svg') }}">
            </div>

            <nav class="nav-links">
                <a class="checked" href="/">HOME</a>
                <a href="/profile">PROFILE</a>
                <a href="/score">SCORE</a>
            </nav>
        
        {% if is_registrated %}
            <h2>My account</h2>
            <form action="/logout", method="POST">
                <button class="logout">Log out</button>
            </form>

        {% else %}
            <div class="auth-buttons">
                <a href="/sign_up">SIGN UP</a>
                <a href="/login">LOGIN</a>
            </div>
        {% endif %}
            
        </header>

        {% block content %}

        {% endblock %}
    </body>
</html>