{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class = "about_questy">

        <div class= "text">
            <h1>Start Test</h1>
            <p class= "p_text">The Questy platform allows you to create interactive tests,
                share them via a unique code, 
                and take them in real time. You can customize the questions,
                time limits, number of participants,
                and answer format. Suitable for both training and fun quizzes in the company.</p>
        </div>

        <div class= "buttons">
            <input placeholder="Enter code" class= "input_code">
            <button class= "start_code">Start</button>
        </div>

        <div class="contacts">
            <div class="div_lines">
                <hr class="top_lines">
                
                    <div class="social">
                        <h2>Follow us</h2>
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>

                <hr class="lines">
            <p>Create test</p>
            <p>Contact us</p>
            </div>
            
            
        </div>
        
    </div>
{% endblock %}

