{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class = "about-questy">
        <div class="description">
            <h1 class="start-t">START TEST</h1>
            <p class= "text-d">The Questy platform allows you to create interactive tests,
                share them via a unique code, and take them in real time. You can customize the questions,
                time limits, number of participants,
                and answer format. Suitable for both training and fun quizzes in the company.
            </p>
            <div class= "enter-code">
                <div class="search-input">
                    <i class='bx bx-search'></i>
                    <input placeholder="Enter code" class= "input_code" id="room">
                    <div class="fake-input-border"></div>
                </div>
                <button class= "search-btn" onclick="emitUser()">START</button>
            </div>
        </div>

        <div class="schedule">
            <img alt="schedule" src="{{ url_for('home_app.static', filename='images/schedule.svg') }}" class="schedule-img">
        </div>
    </div>

    <hr>

        {% if username %}
            <div class="aval-t">
                <h1 class="av-t">Avaliable Tests</h1>
            </div>
        
            <div class="tests">
            {% for test in list_tests %}
                
                <a href="/passing_test{{ test.code }}?test_id= {{ test.id }}" class="test-card">
                    <div class="test-image">
                        <!-- <img src="{{ url_for('home_app.static', filename='images/1.jpg') }}" alt="test img" class="test-image1"> -->
                    </div>
                    <div class="test-content">
                        <span class="test-questions">{{ test.question_count }}</span>
                        <h3 class="test-title">{{ test.topic }}</h3>
                        <p class="test-description">{{ test.description }}</p>
                        <div class="test-accuracy">100% accuracy</div>
                    </div>
                </a>
                    
            {% endfor %}
            </div>
            
            <hr>
        {% endif %}
      
    <footer style="position: relative; bottom: 0">
        <div class="footer-content">
            <div class="footer-text">© 2025 Questy. All rights reserved.</div>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
    </footer>

    <script>

        const socket = io();

        const username = "{{ username }}"
        const code = "{{ CODE }}"

        // Listen for messages from server
        socket.on("message", function(data) {
            let messages = document.getElementById("messages");
            messages.innerHTML += `<p>${data}</p>`;
            console.log(typeof data, data)
        });

        function emitUser(){
            const room = document.getElementById('room').value
            socket.emit("join", room);
            window.location.href= `/room${ room }`;
        }

        // Function to send messages
        function sendMessage() {
            let msgInput = document.getElementById("msg");
            let message = msgInput.value;
            socket.send(message);
            msgInput.value = "";
        }

    </script>
    
{% endblock %}