{% extends "base.html" %}

{% block title %}
    New quiz
{% endblock %}

{% block links %}

{% endblock %}

{% block content %}
    <form action="" method="POST">
        <div class="input_boxes">
            <input type="text" class="topic" name="topic" placeholder="Enter topic" required>
            <input type="text" class="description" name="description" placeholder="Enter description about test" required>
            <input type="number" class="count_question" name="count_question" placeholder="Enter count question" maxlength="6">
            <input type="number" class="answer_on_question" name="answer_on_question" placeholder="Enter count on 1 question" max="10">
            <button type="submit">Send data</button>
        </div>
    </form>
{% endblock %}