{% extends "base.html" %}

{% block title %}
    PROFILE_APP
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/quiz.css') }}">
{% endblock %}

{% block content %}
    <button>
        <a href="/new_quiz">Create new quiz</a>
    </button>
    <h2>
        Your list of quizzes
    </h2>



    {% for test in list_tests %} 
        {% if test.author == username %}
            <p>{{ test.topic }}</p>
            <button>
                <a href="/test_app?test_id={{ test.id }}">Edit</a>
            </button>

            <button onclick="joinRoom()">
                <a href="/room" class="btn">
                    Start test {{ test_id }}
                </a>
            </button>
        {% endif %}
    {% endfor %}
{% endblock %}