{% extends "base.html" %}

{% block title %}
    New quiz
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('test_app.static', filename='css/edit_question.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="post">
        <h1>Edit</h1>
            {% for answer in list_answers %}
                {% set numb = list_answers[loop.index0] %}
                {% for question in range(test.answers_per_question) %}
                    {% if answer[numb] != right_answer %}
                        <div>
                            <input type="text" name="answer{{ question }}" placeholder="Enter new answer">
                        </div>
                    {% else %}
                        <div>
                            <input type="text" name="correct_answer" placeholder="Enter new right answer">
                        </div>
                    {% endif %}
                {% endfor %}
                
            {% endfor %}

        <button type="submit">Edit question</button>
    </form>
{% endblock %}