{% extends "base.html" %}

{% block title %}
    New quiz
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('test_app.static', filename='css/edit_question.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="post">
        <h1>Edit</h1>
        <p>{{ right_answer }}</p>
        
            {% for answer in list_answers %}
                {% set numb = list_answers[loop.index0] %}
                {% for question in range(test.answer_on_question) %}
                    <p>{{ list_answers }}</p>
                    {% if answer[numb] != right_answer %}
                        <input type="text" name="answer{{ question }}" placeholder="Enter new answer">
                    {% else %}
                        <input type="text" name="right_answer" placeholder="Enter new right answer">
                    {% endif %}
                {% endfor %}
                
            {% endfor %}

        
        <button type="submit">Confirm changes</button>
    </form>
{% endblock %}