{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename='css/passing_test.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="test-header">
            <div class="test-details">
                <div class="test-title">Test Topic: {{ test.topic }}</div>
                <div class="test-description">Description: {{ test.description }}</div>
                <div class="meta-info">Number of answers per question: {{ test.question_count }} </div>
            </div>

        </div>
        <form action="" method="POST">
            {% for question in quizzes_list %}
                {% set answers = list_answers[loop.index0] %}
                <div class="question-block">
                    <div class="question-header">
                    <div>{{ question.question }}</div>
                    </div>
                    <div class="question-text">
                        Choose the correct option from the ones below.
                    </div>
                    {% for answer in answers %}
                        <div>
                            <input type="radio" id="{{ question.id }}" name="answers{{ question.id }}" value="{{ answer }}" />
                            <label for="{{ question.id }}">{{ answer }}</label>
                        </div>                            
                    {% endfor %}
                </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </div>
{% endblock %}