{% extends "base.html" %}

{% block title %}
    Room
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room.css') }}">
{% endblock %}

{% block content %}
    <!-- <h1>ROOM test {{ CODE }}</h1>

    <input id="msg" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>
     -->

    <div class="info-bar">
        <div>Author: {{ username }}</div>
        <div>Test code: <strong>{{ CODE }}</strong></div>
    </div>

    <div class="user-list">
        <div class="user-block">
            <div class="user-name">User 1</div>
            <div class="user-actions">
                <button class="btn-remove">Delete</button>
                <button class="btn-block">Block</button>
            </div>

            </div>
            <div class="user-block">
                <div class="user-name">User 2</div>
                <div class="user-actions">
                    <button class="btn-remove">Delete</button>
                    <button class="btn-block">Block</button>
                </div>
            </div>
        </div>

    <div class="status-message">Waiting for others...</div>  


    <!-- <script>
        
        const socket = io();
        const username = "{{ username }}";  
        const code = "{{ CODE }}"
        
        socket.emit("join", code);  // Notify server of new user
        console.log(username)

        // Listen for messages from server
        socket.on("message", function(data) {
            var messages = document.getElementById("messages");
            messages.innerHTML += `<p>${data}</p>`;
            console.log(typeof data, data)
        });

        // Function to send messages
        function sendMessage() {
            var msgInput = document.getElementById("msg");
            var message = msgInput.value;
            socket.send(message);
            msgInput.value = "";
        }

    </script> -->
    
{% endblock %}