{% extends "base.html" %}

{% block title %}
    New quiz
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/test.css') }}">
{% endblock %}

{% block content %}
    <div class="test">

            <p>{{ test.topic }}</p>
            <p>{{ test.description }}</p>
            <p> Количество ответов: {{ test.question_count }}</p>
            <p> Ответы на воспрос: {{ test.answer_on_question }}</p>
            
            {% for quiz in list_quiz %}
                <p><strong>Вопрос:</strong> {{ quiz.question }}</p>
                
                {% for answer in list_answers[loop.index0] %}
                    <p>{{ answer }}</p>
                {% endfor %}
                
                <p>Правильный ответ: {{ quiz.right_answer }}</p>
            {% endfor %}
            

            <input type="radio" name="" id="">       
    </div>
{% endblock %}
