{% extends 'base.html '%}

{% block title %}
    New password
{% endblock %}

{% block links %}
<link rel = "stylesheet" href = "{{ url_for('sign_up_app.static', filename='css/new_password.css') }}">

{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="container">
            <div class="title-section-1">
                <h2 class="title">New Password</h2>
                <p class="par-1">Please create a new password that you don't use on other sites</p>
            </div>
            <form action="" class="form" method="post">
                <div class="input-group">
                    <!-- <label for="email" class="label-title">Enter Code</label> -->
                    <input type="text" name="new_pas" placeholder="Create new password" required class="input-code">
                    <input type="text" name="new_pas_conf" placeholder="Confirm your password" required class="input-code">
                    <!-- <span class="icon">&#9994;</span> -->
                </div>
    
                <div class="input-group">
                    <button class="submit-btn" type="submit">Change</button>
                </div>
            </form>
        </div>
    </div>
{% endblock%}