{% extends 'base.html '%}

{% block title %}
    Reset password
{% endblock %}

{% block links %}
<link rel = "stylesheet" href = "{{ url_for('sign_up_app.static', filename='css/reset_password.css') }}">

{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="title-section-1">
                <h2 class="title">Code Verification</h2>
                <p class="par-1">We've sent a code on your email to reset your password</p>
            </div>
            <form action="" class="form" method="POST">
                <div class="input-group">
                    <input type="text" name="code" placeholder="Enter code" required class="input-code">
                </div>
    
                <div class="input-group">
                    <button class="submit-btn" type="submit">Continue</button>
                </div>
            </form>
            <br>
        </div>
    </div>
{% endblock%}