*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    align-items: center;
}

.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:  0 0 15px black;
    overflow: hidden;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px; 
}

.form-box h2{
    margin-bottom: 10px;
    position: relative;
    font-size: 30px;
    color: black;
    text-align: center;
}

.form-box h2::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

    width: 40px;
    height: 4px;

    background: black;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;

    background: transparent;
    columns: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    transition: .5s;
    padding-right: 23px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  /* transition: background-color 0s 600000s, color 0s 600000s !important; */
  background-color: transparent;
}
.input-box input:focus,
.input-box input:valid{
    border-bottom-color: lightblue;
    background-color: white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: 0.5s;   
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color:  rgba(59, 73, 109, 1);
}

.input-box i{
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    transition: 0.5s;
}

.input-box input:focus~i,
.input-box input:valid~i{
    color:  rgba(59, 73, 109, 1); 
}

form button{
    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

form button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form .linkTxt{
    font-size: 14px;
    color:  black;
    text-align: center;
    margin: 20px 0 10px;
}

.linkTxt p a{
    color: #17a;
    text-decoration: none;
    font-weight: 600;
}


.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding:  0 40px 60px 150px;
}

.wrapper .info-text h2{
    font-size: 36px;
    color: white;
    line-height: 1.3;
    text-transform: uppercase;
}

.wrapper .info-text p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.35);
}

.wrapper .rotate-bg{
    position: absolute;
    top:  -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: rgba(113, 145, 107, 1);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    border-bottom:  3px solid rgba(113, 145, 107, 1);
    transition:  1.5s ease;

}



.wrapper {
    margin: 25px;
}
