:root {
    --black: #1A1A1A;
    --dark_grey: #3C3636;
    --grey: #666666;
    --header_color: #F2F2F2;
    --sign_up_green: #8DBD84;
    --lite_green: hwb(120 82% 11% / 0.877);
    --green: hsla(134, 19%, 54%, 0.514);
    --dark_green: #61855A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    /* scrollbar-width:  none; */

}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    background-color: var(--lite_green);
    scrollbar-width: none;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 92vh;
}

::-webkit-scrollbar{
    display: none;
}


header{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.229); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    
    width: 100vw;
    position: relative;
    height: 8vh;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    /* padding: 12px 24px; */
    background-color: white;
    border: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100px;
    /* width: 198px; */
    /* gap: 8px; */
}
  
.logo img {
    height: 42px;
}
  

.nav-links {
    display: flex;
    gap: 40px;
    /* margin-left: 20px; */
}
  
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
}
  
.nav-links a:hover {
    color: #000;
}

.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.25s ease;
}

.nav-links a:hover::before {
    width: 100%;
    right: 0;
    left: auto;
}

/* .nav-links a.active {
    color: red;
} */

/* .nav-links a.active::after {
    width: 100%;
}
   */

.auth-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    gap: 12px;
}

.auth-buttons a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 16px; 
}

.auth-buttons a:first-of-type {
    background-color:#8DBD84;
    border-radius: 6px;
    padding: 10px 18px;
    margin: 0;
}

.auth-buttons a:last-of-type {
    border: 2px solid #8DBD84;
    border-radius: 7px;
    padding: 10px 18px;
    margin: 0;
}

.username {
    font-size: 16px;
    color: black;
    border: 2px solid var(--sign_up_green); /* зелёная рамка */
    border-radius: 6px;
    padding: 8px 14px;
}

.logout {
    border: 2px solid var(--sign_up_green);
    background-color: transparent;
    border-radius: 7px;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
    color: black;
}
