:root {
    --black: #1A1A1A;
    --dark_grey: #3C3636;
    --grey: #666666;
    --header_color: #F2F2F2;
    --sign_up_green: #8DBD84;
    --lite_green: hwb(120 82% 11% / 0.877);
    --green: hsla(134, 19%, 54%, 0.514);
    --dark_green: #61855A;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    background-color: var(--lite_green);
}

html {
    scrollbar-width: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;

    padding: 5px 10%;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.229); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 

    margin-bottom: 25px;
}

.logo{
    cursor: pointer;
}

/* .nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
} */



/* .container {
    width: 100%;
    max-width: 1440px;
    max-height: 102px;
    margin: 0 auto;
    padding: 0 20px;
} */

/* HEADER */
 

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-right: 10vw; 
    color: var(--grey);
    font-size: 16px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--dark_green);
    transform: scale(1.1);
}

nav a:last-of-type {
    margin-right: 0;
}

nav a.checked {
    color: var(--black);
}

.header-content_last {
    display: flex;
    align-items: center;
}

.header-content_last a {
    margin-right: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 16px; 
}

.header-content_last a:first-of-type {
    background-color: var(--sign_up_green);
    border-radius: 7px;
    padding: 14px 30px;
}

.header-content_last a:last-of-type {
    border: 3px solid var(--sign_up_green);
    border-radius: 7px;
    padding: 12px 30px;
}