:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #2f2f2f;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-dark);
}

main {
    height: inherit;
}

.container {
    max-width: 800px;
    margin: auto;
}

.test-header {
    display: flex;
    justify-content: space-between;

    background-color: var(--bg-aside);
    border: 1px solid var(--green-light);

    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px var(--shadow);
}

.test-details {
    flex-grow: 1;
}
.test-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.test-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.edit-btn {
    background-color: white;
    color: var(--green-dark);
    border: 1px solid var(--green-main);
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    height: fit-content;
}

.edit-btn a{
     all: unset;
}

.edit-btn:hover {
    background-color: var(--green-light);
}
.question-block {
    background-color: white;
    border: 1px solid var(--green-light);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px var(--shadow);
}
.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.question-text {
    margin-bottom: 15px;
}
.answer {
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    border-left: 5px solid transparent;
}
.correct {
    background-color: var(--green-light);
    border-left-color: var(--green-main);
}
.incorrect {
    background-color: #ffe6e6;
    border-left-color: rgb(238, 72, 72);
}